<h1>Tags</h1>
<div>
<%= link_to "Create New Tag", new_tag_path %>
</div>
<br>
<table>
  <tr>
    <th>Tag Name</th>
  </tr>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>