
@import "bootstrap-sprockets";
@import "bootstrap";


.container{
  margin-bottom: 0px;
}

.navbar-default {
  background-color: #00cc99;
  border-color: #b3ffec;
}

#footer {
  // position:fixed;
  height:50px;
  background-color:#e0ebeb;
  bottom:0px;
  margin-top:20px;
  left:120px;
  right:120px;
}

.user-panel{
  background: #d1e0e0;
}

.post{
  display: inline-block;
  // width: 400px;
  height: 500px;
  // vertical-align: middle;
  overflow: hidden;
  border: 2px; 
  border-style: solid;
  border-color: #b3ffec;
  padding: 5px;
}

.post img{
  display: block;
  margin: 0 auto
}


.game{
  display: inline-block;
  // width: 400px;
  height: 400px;
  // vertical-align: middle;
  overflow: hidden;
  border: 2px; 
  border-style: solid;
  border-color: #b3ffec;
  padding: 5px;
}

.game img{
  display: block;
  margin: 0 auto
}


.platform{
  display: inline-block;
  // width: 400px;
  height: 300px;
  // vertical-align: middle;
  overflow: hidden;
  border: 2px; 
  border-style: solid;
  border-color: #b3ffec;
  padding: 5px;
}

.platform img{
  display: block;
  margin: 0 auto
}

.developer{
  display: inline-block;
  // width: 400px;
  height: 300px;
  // vertical-align: middle;
  overflow: hidden;
  border: 2px; 
  border-style: solid;
  border-color: #b3ffec;
  padding: 5px;
}

.developer img{
  display: block;
  margin: 0 auto
}